* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator-body {
    height: 90%;
    width: 90%;
    padding: 10px;
    border: 5px solid black;
}

.display {
    width: 100%;
    height: 100px;
    padding: 20px;
    margin-bottom: 20px;
    border: 5px solid black;
    text-align: right;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.buttons {
    width: 100%;
    height: 70%;
    padding: 20px;
    border: 5px solid black;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
}

.buttons .grow {
    flex-grow: 1;
}

.buttons button {
    max-height: 50px;
    width: 50px;
}

@media (min-width: 40rem) {
    .calculator-body {
        max-width: 400px;
        max-height: 600px;
    }

    .buttons .grow {
        flex-grow: 0;
        width: 155px;
    }

    .buttons button {
        max-height: 80px;
        width: 70px;
    }
}
